# Python
__pycache__/


# Virtual environments
.env
.venv
env/
venv/

# IDE
.vscode/

# OS
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
enunciados/
respostas/
reports/
logs/
*.log
next.txt
git_pull_log.txt

# Secrets
.env
*.key
secrets/

# Unit test / coverage reports
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Arquivos temporários
*.tmp
*.temp

# Configurações locais
.env.local
.env.production
