[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pytest = "*"
pytest-json-report = "*"
beautifulsoup4 = "*"
requests = "*"
pandas = "*"
streamlit = "*"
jinja2 = "*"
markdown = "*"
pyyaml = "*"
click = "*"
rich = "*"
pathlib = "*"
selenium = "*"
psutil = "*"
pillow = "*"

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
pytest-cov = "*"
ipykernel = "*"

[requires]
python_version = "3.13"
